body {
	margin: 0;
	padding: 0;
	font-family: Trebuchet MS, sans-serif;
	background-color: #c8effc;
	border: 10px solid orange;
}

strong {
	text-decoration: underline;
}

header {
	margin: 0;
	padding: 20px 0px;
	background-color: #5c5cff;
	color: white;
	text-align: center;
}

header h1 {
	margin: 0 20px;
	border-bottom: 2px solid white;
}

main {
	padding-left: 10px;
	padding-right: 10px;
}

main div h3 {
	color: white;
	background-color: gray;
}

main div p {
	padding-left: 30px;
}

img {
	height: 60%;
	width: 60%;
	display: block;
	margin: 0 auto;
}

footer {
	padding-top: 50px;
	text-align: center;
	font-size: 14px;
	font-style: italic;
	color: gray;
}

@media only screen and (max-width: 40em) {
	img {
		height: 90%;
		width: 90%;
	}

	header address{
		margin: 0 20px;
		font-size: 16px;
	}

	header h1 {
		font-size: 26px;
	}
}